<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Tarefas</title>
  <!-- <link rel="stylesheet" href="./src/assets/css/style.css">
  <link rel="stylesheet" href="./src/assets/css/form.css">
  <link rel="stylesheet" href="./src/assets/css/tarefas.css"> -->
</head>
<body>
  <div class="container-pai">
    <h1 class="titulo">Lista de Tarefas</h1>
    <div class="container-filho">
      <form action="#" class="form">
        <input type="text" class="tarefa">
        <button type="submit" id="btn-add"><i class="fa-solid fa-plus"></i></button>
      </form>

      <ul class="tarefas"></ul>
    </div>
  </div>

  <script src="./assets/js/bundle.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- <script src="../controllers/main.js"></script> -->
  <script src="https://kit.fontawesome.com/777e74af89.js" crossorigin="anonymous"></script>
</body>
</html>